.basketWrapper{
	width:100%;
	height:100%;
	position: absolute;
	top:0vw;
	left: 0vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.basketContainer{
	width:60%;
	height:85%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.basketContainer header{
	border: 0.1vw solid black;
	width:100%;
	height:10%;
	text-align: center;
	font-size:2rem;
	margin:1vh auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.basketContainer main{
	border: 0.1vw solid black;
	width:100%;
	height:75%;
	overflow: auto;
	margin:1vh auto;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.basketContainer main > div{
	display: flex;
	flex-direction: row;
	align-items: center;
	width:90%;
	height:20%;
	margin:1vw;
}

.basketContainer main > div > section[type="image"] img{
	width:100%;
}

.basketContainer main > div section{
	height:90%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	text-align: center;

	border: 0.1vw solid black;

	margin:0vh 0.5vw;

	overflow: hidden;
}

.basketContainer main > div > section[type="image"]{	width:10%;	background: black;	}
.basketContainer main > div > section[type="name"]{		width:50%;	}
.basketContainer main > div > section[type="price"]{	width:20%;	}
.basketContainer main > div > section[type="remove"]{	width:5%;	}

.basketContainer main > div > section[type="price"] h1{
	font-size:1.1vw;
	font-weight: bold;
	margin: 0px;
}

.basketContainer main > div > section[type="price"] h2{
	font-size:0.8vw;
	font-weight: normal;
	margin: 0px;
}

.basketContainer footer{
	border: 0.1vw solid black;
	width:100%;
	height:10%;
	margin:1vh auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.basketContainer main > div > section[type="quantity"] input{
	border:0vw solid transparent;
	text-align: center;
	width:100%;
}

.basketContainer main > div > section[type="remove"] input{
	margin:0.5vw auto;
	font-weight: bold;
	border-radius: 5vw;
	width: 1.5vw;
	height:1.5vw;
	font-size:0.8vw;
	padding: 0vw;
	background: black;
	color:white;
	text-align: center;
	border:0.2vw solid black;
}

.basketContainer footer button{
	border:0.1vw solid black;
	width:50%;
	height:50%;
	font-weight: bold;
	font-size:1.1rem;
	transition: background 1s;
}

.basketContainer footer button:hover{
	background: lightgrey;
}

@media only screen and (max-width:800px){
	.basketContainer, .basketListItem{
		width:90%;
	}

	.basketContainer main > div > section[type="price"] h1{		font-size: 1rem;	}
	.basketContainer main > div > section[type="price"] h2{		font-size:0.8rem;	}
	.basketContainer main > div > section[type="image"]{	display: none;	}
	.basketContainer main > div > section[type="name"]{		width:60%;	}
	.basketContainer main > div > section[type="price"]{	width:20%;	}
	.basketContainer main > div > section[type="quantity"], .basketContainer main > div > section[type="remove"]{
		width:10%;
	}
}

@media only screen and (max-width:400px){
	.basketContainer main > div > section[type="price"] h1{
		font-size: 0.8rem;
	}

	.basketContainer main > div > section[type="price"] h2{
		font-size:0.8rem;
	}
	
	.basketContainer main > div > section[type="image"]{
		display: none;
	}

	.basketContainer main > div > section[type="name"]{
		width:60%;
		font-size: 0.9rem;
	}

	.basketContainer main > div > section[type="price"]{
		width:20%;
	}

	.basketContainer main > div > section[type="quantity"], .basketContainer main > div > section[type="remove"]{
		width:10%;
	}

	.basketContainer footer{
		font-size:0.8rem;
		flex-direction: column;
	}

	.basketContainer footer button{
		width:95%;
	}
}


@media only screen and (max-height:600px){
	.basketWrapper{
		justify-content: flex-end;
	}
}

@media only screen and (max-height:400px){
	.basketContainer header{
		font-size:0.8rem;
	}

	.basketContainer main > div{
		height:75%;
	}

	.StripeCheckout{
		height:100%;
	}

	.basketContainer footer{
		font-size:0.8rem;
		flex-direction: row;
	}

	.basketContainer footer button{
		font-size:0.5rem;
	}
}

@media only screen and (max-height:300px){
	.basketContainer header{
		display: none;
	}
}