.catWrapper{
	width:100%;
	height:90%;
	overflow: auto;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.catWrapper div{
	border: 0.09vw solid black;
	border-radius: 0.25vw;
	display: flex;
	justify-content: center;
	align-items: center;
	width:90%;
	background: #cccccc;
	font-size:2vh;
	padding: 0.25vh;
	margin:0.1vw 0.1vh;
}

.catWrapper input{
}

.catWrapper label{
	width:90%;
	text-align: center;
}