.navWrapper{
	font-weight: 		bold;
	overflow: 			auto;
	padding:			0.2vw;

	display: 			flex;		
	align-items: 		center;	
	justify-content: 	left;
	flex-direction: 	row;
	border-bottom:		1px solid black;
	background: 		black;
	color: 				white;

	position: fixed;
	top:0px;
	left:0px;
	right:0px;

	height:60px;
}

.navWrapper > a , .navWrapper > a > header{
	width:20%;
	height:95%;
}

.navWrapper > a > header{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 1%;
	font-size: 2rem;
	text-align: center;
	color:white;
}

.navWrapper > section{
	width: 58%;
}

.navWrapper > footer{
	width: 20%;
	height: 95%;
	display: flex;
	align-items: center;
}

.navWrapper > footer > input{
	border:2px solid grey;
	border-right: 0px;
	border-radius: 5px 0px 0px 5px;
	width: 90%;
	height: 50%;
	display: inline-block;
}

.navWrapper > footer > button{
	border:2px solid grey;
	border-left:0px;
	border-radius: 0px 5px 5px 0px;
	width:10%;
	height: 60%;
	display: inline-block;
}