.schWrapper{
	display: 			flex;
    align-items: 		center;
    justify-content: 	center;
    flex-direction: 	row;
    width:				100%;
    height:				100%;
}

.schContainer{
	display: flex;
	justify-content: center;
	align-items: flex-start;

	margin:10vh auto;
	width:100%;
	height: 90%;

	overflow: auto;
}

.schListContainer{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	overflow: auto;
}

.schContainer section[type="right"] > input{
	width:99%;
	height:3vh;
}

.schContainer section{
	width:25%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	margin-top:2%;
}

.schContainer section[type="right"]{
	width:70%;
	justify-content: flex-start;
	flex-direction: column;
	padding:1%;
}

.schContainer section[type="right"] > div{
	width:100%;
	height:90%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}