.sliWrapper{
	width: 20vw;
	height: 30vw;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content:center;
	text-align: center;
}

.sliWrapper a{
	text-align: center;
}

.sliWrapper img{
	width:60%;
	height: 60%;
}

.sliWrapper h1{
	
}

.sliWrapper h2{
}

.sliWrapper button{

}

.sliContainer{
	overflow-x: hidden;
	overflow-y: auto;
}

@media only screen and (max-width:650px){
	.sliWrapper{
		width:48%;
	}
}

@media only screen and (max-width:450px){
	.sliWrapper{
		width:100%;
	}
}