.sipWrapper{
	width: 100%;
	height: 100%;
}

.sipWrapper header{height: 15%;}

.sipWrapper main{
	height: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}


.sipWrapper main section{
	width: 49%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sipWrapper main section[pos="right"] section[pos="top"] h1,.sipWrapper main section[pos="right"] section[pos="top"] h2{
	margin: 0px;
}

.sipWrapper main section[pos="left"]{
	font-weight: bold;
	width: 40%;
}

.sipWrapper main section[pos="right"]{
	width: 60%;
}

.sipWrapper main img{
	width: 90%;
}

.sipWrapper footer{
	height: 10%;
}

.sipWrapper main button{
	width: 100%;
	height: 100%;
	border:  5px solid black;
	border-radius: 25px;
	background: black;
	color: white;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sipWrapper main section section[pos="top"]{
	width: 100%;	
	height: 10%;
	text-align: center;
}

.sipWrapper main section section[pos="top"] h1{
	width: 100%;	
	font-size: 2rem;
}

.sipWrapper main section section[pos="middle"]{
	width: 80%;	
	height: 82%;
}

.sipWrapper main section section[pos="bottom"]{
	width: 90%;	
	height: 8%;
}

@media only screen and (max-width:  650px){
	.sipWrapper main{
		flex-direction: column;
	}

	.sipWrapper main section[pos="left"], .sipWrapper main section[pos="right"]{
		width: 90%;
	}
}

@media only screen and (max-height: 550px){
	.sipWrapper main img{
		width: 50%;
	}
}